* html #wrapper {
  height:100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 60%;
  position: relative;
}

#content {
  padding-bottom: 50px; /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
}

.container {
  margin-bottom: 60px;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 20px;
  //border: 2px solid white;
}

body {
  font-family: 'Lato', sans-serif!important;
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  height: 100%;

  .jumbotronImg {
    //width: 100%;
    height: 400px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    a {
      color: #a6742c !important;
      &:hover, &:focus {
        background: #2c3e54;
      }
    }
  }

  .navbar-toggle {
    border-color: white;
    span {
      background-color: white;
    }
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  #footer {
    position: absolute;
    width: 100%;
    //text-align: center;
    clear: both;
    bottom: 0;
    padding: 10px 0;
    padding-left: 20px;
    /* ATTENTION! The following elements below
    can be set to whatever your heart desires */
    height: 40px; /* REMEMBER height = padding-bottom */
    background: gray;
    a {
      color: #1D5C7D;
    }
  }
}

.main {
  text-align: center;
  h2 {
    padding: 0 200px 30px 200px;
    line-height: 50px;
  }
  img {
    width: 80%;
  }
}

.masonry-brick {
  margin: 1em;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

.photo {
  width: 200px;
  float: left;
}

.photo.double {
  width: 480px;
}

.photo.large {
  width: 600px;
  z-index: 3;
}

.photo.large .small-image,
.photo .big-image { display: none; }

.photo .small-image,
.photo.large .big-image { display: block; }

.photo img {
  display: block;
  width: 100%;
}

.photo .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: hsla( 0, 0%, 100%, 0.7 );
}

.photo .loading span {
  position: absolute;
  left: 50%;
  top: 50%;
}

.photo .loading img {
  width: auto;
  position: absolute;
  left: -16px;
  top: -16px;
}
/* chedule section start */
.chedule {
  .closed {
    background-color: gray;
  }
  .creative {
    background-color: #E47A8D;
  }
  .table {
    background: rgba(255, 255, 255, 0.25);
    display:table;
    text-align: center;
  }
  .row {
    display:table-row;
  }
  .cell {
    display:table-cell;
    border: 1px solid white;
    padding: 15px;
  }
  .header {
    background-color: #1D5C7D;
    height: 40px;
    padding: 20px;
    font-weight:bold;
    text-align:center;
  }
}
/* chedule section end */

/* prices section start */
.prices {
  h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  h3 {
    a {
      text-decoration: none;
    }
    text-align: center;
  }
  .table {
    background: rgba(255, 255, 255, 0.25);
    display:table;
  }
  .row {
    text-align: center;
    display:table-row;
  }
  .cell {
    border: 1px solid white;
    display:table-cell;
    padding: 10px;
  }
  .header {
    background-color: #1D5C7D;
    height: 40px;
    padding: 20px;
    font-weight:bold;
    text-align:center;
  }
}
/* prices section end */

/* instructors section start */
.instructors {
  text-align: justify;
  img {

  }
  .row {
    margin: 100px 0;
    .description {
      span {
        font-weight: bold;
      }
    }
    .person {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      object-fit: fill;
    }
  }
}
/* instructors section end */

/* contact section start */
.contact {
  form {
    input {
      width: 200px;
      color: black;
    }
    textarea {
      color: black;
      width: 200px;
    }
  }
  a {
    color: white;
    &:active {
      color: #1D5C7D;
    }
  }
}
/* contact section end */

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* media queries */
@media all and  (max-width: 600px){
  .jumbotronImg {
    max-height: 150px;
  }
  .gallery {
    #container {
      width: 400px;
    }
  }
}

@media all and  (max-width: 800px) and (min-width: 600px){
  .jumbotronImg {
    max-height: 250px;
  }
  .gallery {
    #container {
      width: 600px;
    }
  }
}

@media all and (max-width: 1366px) and (min-width: 800px){
  .jumbotronImg {
    height: auto;
    max-height: 350px;
  }
  .gallery {
    #container {
      width: 800px;
    }
  }
}